<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://images.unsplash.com/photo-1568564321589-3e581d074f9b?ixlib=rb-1.2.1&w=1000&q=80" alt="husky">
    </div>
    {{>footer}}
</body>
</html>